        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:Arial, sans-serif;
        }





body {
    background: #20252d;
    color: white;
    font-family: Arial;
    margin: 0;
}

.nav {
    background: #1a1e25;
    padding: 20px;
    text-align: center;
}

.nav b {
    margin-right: 30px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.header {
    background: #333;
    padding: 100px;
    text-align: center;
}

.header h1 {
    font-size: 35px;
}

button {
    background: #c4b46b;
    border: 0;
    padding: 12px;
    margin: 10px;
}

.main {
    width: 70%;
    margin: auto;
}

h2 {
    margin-top: 70px;
    font-size: 15px;
    color: #c4b46b;
}

.services {
    text-align: center;
}

.services div {
    display: inline-block;
    width: 30%;
    padding: 10px;
}

.services h3 {
    font-size: 12px;
}

.services p {
    color: #aaa;
    font-size: 12px;
}

.projects {
    text-align: center;
}

.projects img {
    width: 45%;
    height: 150px;
    margin: 5px;
}

.about {
    background: #272d36;
    padding: 40px;
}

.about p {
    color: #aaa;
}

.process {
    text-align: center;
}

.process img {
    width: 80%;
    height: 250px;
}

.contact {
    background: #272d36;
    padding: 40px;
    text-align: center;
}

.footer {
    background: #1a1e25;
    padding: 30px;
    text-align: center;
    margin-top: 70px;
}

.footer p {
    color: #999;
    font-size: 12px;
}
